<h2>Available Vaccine Slots</h2>

{% if vaccines %}
<table border="1">
  <tr>
    <th>Vaccine Name</th>
    <th>Hospital Name</th>
    <th>Slot Date</th>
    <th>Available</th>
    <th>Action</th>
  </tr>
  {% for v in vaccines %}
<tr>
  <td>{{ v.Vaccine_Name }}</td>
  <td>{{ v.hospital.Name }}</td>
  <td>{{ v.hospital.City }}</td>
  <td>{{ v.Available }}</td>
  <td>
      <form action="{{ url_for('confirm_vaccine', slot_id=v.Slot_ID) }}" method="get">
          <button type="submit" class="btn btn-primary">Book Now</button>
      </form>
  </td>
</tr>
{% endfor %}

</table>
{% else %}
<p>{{ message }}</p>
{% endif %}
